.advantages {
  text-align: center;
  padding-top: 33px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    padding-top: 48px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 59px;
  }
}

.advantages__header {
  margin: 0 auto 16px;
  max-width: 284px;

  @media (min-width: @tablet-width) {
    max-width: 520px;
    margin-bottom: 55px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 44px;
  }
}

.advantages__slogan {
  margin: 0;
  margin-bottom: 37px;
  padding-inline: 10px;

  @media (min-width: @tablet-width) {
    margin-bottom: 30px;
  }
}

.advantages__intro {
  margin: 0;
}

.advantages__list {
  .list-reset;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__item {
  background-color: @color-beige;
  padding: 0;
  overflow: hidden;

  @media (max-width: @mobile-width-only) {
    &:first-child {
      padding-top: 70px;
      background-image: url("../img/hero/divider-mini.svg");
      background-repeat: no-repeat;
      background-position: top center;
    }
  }

  &--illustrated {
    background-color: @color-blue;
    color: @color-white;
    padding: 38px 0 0;

    @media (min-width: @tablet-width) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 256px;
      padding: 0;
      grid-column: span 3;
    }
  }

  &--big-advantage {
    @media (min-width: @tablet-width) {
      grid-template-rows: 256px 330px;
    }
  }
}

.advantages__item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 268px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    padding: 52px 33px 31px;
    max-width: 256px;
    max-height: 256px;
  }

  @media (min-width: @desktop-width) {
    padding: 52px 50px;
    max-width: 400px;
    max-height: 256px;
  }

  &--basic {
    @media (max-width: @mobile-width-only) {
      padding: 24px 0;
      border-bottom: 1px solid @color-background-more;
    }

    @media (min-width: @tablet-width) {
      padding: 41px 33px;
    }

    @media (min-width: @desktop-width) {
      padding: 52px;
    }
  }

  &--last-one {
    @media (max-width: @mobile-width-only) {
      border: none;
      padding: 25px 0 27px;
    }
  }
}

.advantages__title {
  margin: 0 auto 11px;

  @media (min-width: @tablet-width) {
    margin-bottom: 15px;
    max-width: 150px;
  }
}

.advantages__number {
  margin: 0 auto 17px;

  @media (min-width: @tablet-width) {
    margin-bottom: 23px;
  }
}

.advantages__description {
  margin: 0;
}

.advantages__image {
  display: block;
  margin: 37px auto 0;

  @media (min-width: @tablet-width) {
    width: 100%;
    margin: 0;

    &--ahead {
      grid-column: 1 / 3;
      grid-row: 1;
    }
  }
}

.advantages__image-wrapper {
  @media (min-width: @tablet-width) {
    grid-column: span 2;

    &--ahead {
      grid-column: 1 / 3;
      grid-row: 1;
    }
  }
}
