.advantages {
  text-align: center;
  padding-top: 32px;
  margin: 0 auto;
}

.advantages__header {
  margin: 0 auto 32px;
  max-width: 284px;
}

.advantages__slogan {
  margin: 0;
  margin-bottom: 35px;
}

.advantages__intro {
  margin: 0;
}

.advantages__list {
  .list-reset;
}

.advantages__item {
  background-color: @color-beige;
  padding: 24px 0;

  &--illustrated {
    background-color: @color-blue;
    color: @color-white;
    padding: 37px 0 0;
  }
}

// не надо .advantages__item + .advantages__item {
//   margin-top: 24px;
// }


// wrapper вокруг 3х adv-item{
// padding: 24px 18px 28px;
// }


// .advantages__item-wrapper {
//   margin: 0 auto;
// }

.advantages__title {
  margin: 0 auto 11px;
  max-width: 284px;
}

.advantages__number {
  margin: 0 auto 17px;
  max-width: 284px;
}

.advantages__description {
  margin: 0 auto;
  max-width: 284px;
}

.advantages__image {
  display: block;
  margin: 40px auto 0;
}
