.feedback {
  padding: 36px 0 22px;

  @media (min-width: @tablet-width) {
    padding: 64px 60px;
  }
}

.feedback__header {
  max-width: 320px;
  padding: 0 20px;
  text-align: center;
  margin: 0 auto 28px;

  @media (min-width: @tablet-width) {
    max-width: 476px;
    margin-bottom: 108px;
  }
}

.feedback__title {
  margin: 0;
  margin-bottom: 24px;

  @media (min-width: @tablet-width) {
    .font(700,30px,26px);
    margin-bottom: 20px;
  }
}

.feedback__description {
  margin: 0;
}
