.field {
  font-family: inherit;
  padding: 16px;
  border: none;
  color: @color-black;
  background-color: @color-grey;

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }

  // &--with-icon {
  //   position: relative;
  //   padding-right: 58px;

  //   &::after {
  //     content: "";
  //     position: absolute;
  //     top: 0;
  //     right: 0;
  //     width: 58px;
  //     height: 58px;
  //     background-color: @color-dark-beige;
  //   }
  // }
}
