.hero {
  max-width: 320px;
  min-height: 389px;
  background-color: @color-dark;
  background-image: url("/img/hero/hero-back-mobile.jpg");
  background-size: contain;
  padding: 90px 19px 85px;
  margin: 0 auto;

  &--inner {
    min-height: auto;
    max-height: 158px;
    background-size: cover;
    background-position: bottom center;
    padding: 52px 45px 67px;
  }
}
