.main-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  @media (min-width: @tablet-width) {
    position: relative;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 17px;
  right: 20px;
  width: 23px;
  height: 22px;
  border: none;
  background-color: transparent;
  background-image: url("/img/icons/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  cursor: pointer;
  z-index: 1;

  &--closed {
    background-color: transparent;
    background-image: url("/img/icons/burger-menu.svg");
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav__list {
  .list-reset;
}
