.main-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  &--closed {
    .main-nav__toggle {
      background-image: url("/img/icons/burger-menu.svg");
    }
  }

  &--opened {
    .main-nav__toggle {
      background-image: url("/img/icons/cross.svg");
    }
  }

  @media (min-width: @tablet-width) {
    position: relative;
  }
}

@media (max-width: @mobile-width-only) {
  .main-nav--closed .site__item {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs.main-nav {
    position: static;
    min-height: 0;
  }

  .main-nav--nojs .site__item {
    display: block;
  }

  .main-header__logo + .main-nav--nojs {
    position: relative;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 8px;
  right: 11px;
  width: 41px;
  height: 40px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  padding: 9px;
  cursor: pointer;
  z-index: 1;
  outline-offset: 3px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav__list {
  .list-reset;
}
