.search-hotel {
  padding: 38px 11px 49px;
  text-align: center;
  max-width: 284px;
  margin: 0 auto;
}

.search-hotel__title {
  margin: 0;
  margin-bottom: 20px;
  max-width: 262px;
}

.search-hotel__description {
  max-width: 262px;
  margin: 0;
  margin-bottom: 32px;
}

// .search-hotel__link {
//   // max-width: 284px;
// }
