.caption {
  .font(400; 14px; 21px);
  text-transform: uppercase;
  color: @color-dark;

  &--signature {
    font-size: 12px;
    opacity: 0.6;
  }

  &--bold {
    font-weight: 700;
    color: @color-black;
  }

  &--non-upper {
    text-transform: none;
  }

  &--contrast {
    color: inherit;
  }
}

